.container {
  margin-top: 3.4rem;
}

.form {
  max-width: 20rem;
  margin: 0 auto;
}

.title {
  color: #02091a;
  font-size: 4rem;
  margin-bottom: 2.5rem;
  font-style: italic;
}

.inputGroup {
  margin-bottom: 1.25rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: antiquewhite;
}

.input {
  background-color: antiquewhite;
  color: #1a202c;
  font-size: 1.2rem;
  border-radius: 0.375rem;
  padding: 0.625rem;
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.button {
  background-color: #1a202c;
  color: rgb(214, 164, 99);
  font-size: 1rem;
  border-radius: 0.375rem;
  margin-top: 1rem;
  padding: 0.625rem 1.25rem;
  width: 107%;
  transition: background-color 0.15s ease-in-out;
}

.button:hover {
  background-color: #3e4e7a;
  cursor: pointer;
}

.signupLink {
  color: antiquewhite;
  margin-top: 1rem;
  font-size: 1rem;
  text-align: center;
}

.link {
  color: #02091a;
  text-decoration: none;
}

.link:hover {
  color: rgb(214, 164, 99);
}
