.catDropDown {
  margin: 35px 0;
}

.dropdownLabel {
  font-size: 1.2rem;
  color: #f0e4d7;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.customSelect {
  background-color: #444;
  color: #f0e4d7;
  border: 1px solid #888;
  padding: 7.5px;
  border-radius: 5px;
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customSelect:hover {
  background-color: #555;
}

.customSelect:focus {
  border-color: #d1a054;
  outline: none;
  background-color: #333;
}
