.navbar {
  background-color: #2a3449;
  color: #ffffff;
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: white;
  display: flex;
  margin-right: 14rem;
}

.navLink {
  margin-left: 1.5rem;
  margin-right: 2.5rem;
  display: flex;
  color: #ffffff;
}

.navLink span {
  margin-top: 0.75rem;
  font-size: 2.4rem;
}

.navLink ul {
  display: flex;
  font-size: 1.75rem;
  margin-left: 2.5rem;
  justify-content: center;
  align-items: center;
}

.navLink ul li {
  list-style: none;
  margin-left: 10px;
}
.navLink ul li span {
  font-size: 1.75rem;
  margin-left: 3px;
  color: rgb(32, 53, 212);
}

.navLink ul li a {
  margin-left: 2rem;
  margin-right: 1rem;
  color: #ffffff;
  text-decoration: none;
  font-family: monospace;
}

.navLink ul li .active {
  transform: scale(1.05);
  color: #02091a;
  font-weight: bold;
}

.navLink ul li a:hover {
  transform: scale(1.05);
  font-weight: bold;
  color: #02091a;
}

.navLink .logoutLink {
  margin-left: 21rem;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: white;
  text-decoration: none;
}

.navLink .logoutLink:hover {
  color: black;
}
.navLink .loginRegister {
  margin-left: 21rem;
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
}

.navLink .loginRegister:hover {
  color: black;
}
.navLink .loginRegister .active {
  color: black;
}
