.landingPage {
  position: relative;
  background-image: url("../../../../public/images/bg5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: calc(100vh - 3.3rem);

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(
      0,
      0,
      0,
      0.6
    ); // Adds a dark overlay for better text readability
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  text-align: center;
  color: antiquewhite;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding: 2rem;

  h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 1.2;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
}

.storeButton {
  font-size: 1.4rem;
  color: antiquewhite;
  background-color: #1a202c;
  padding: 1rem 2rem;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #243754;
    transform: scale(1.05);
  }
}

/* Responsive Styles */
@media screen and (max-width: 1400px) {
  .content h1 {
    font-size: 3.2rem;
  }

  .content p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 999px) {
  .content h1 {
    font-size: 2.8rem;
  }

  .content p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 480px) {
  .content h1 {
    font-size: 2.2rem;
    margin-top: 1rem;
  }

  .content p {
    font-size: 1.2rem;
  }

  .storeButton {
    padding: 0.8rem 1.6rem;
    font-size: 1.2rem;
  }
}
