.flexContainer {
  display: flex;
  max-width: 1280px;
  padding: 20px;
  margin: 0 auto 0 40px;
  border-radius: 8px;
}

.subContainer {
  // padding: 15px;
  height: 160px;
  margin-top: 40px;
  border-radius: 8px;
}

.inputField {
  margin-top: 15px;
  font-size: 1.2rem;
  width: 260px;
  background-color: antiquewhite;
  padding: 10px;
}

.productContainer {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  align-items: center;
  padding: 40px;
  margin-left: 40px;
}

.loadingText {
  font-size: 3.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  margin-left: 220px;
}
.loadingText p {
  margin-left: 45px;
  margin-block: 20px;
  font-weight: bold;
  color: #1b2438;
}

.loadingText p:nth-child(2) {
  width: 290px;
  margin-top: 2px;
  margin-left: 30px;
  text-align: center;
  font-size: 1.1rem;
}

.nogames {
  margin-top: 10px;
  width: 400px;
  font-size: 2rem;
  color: #1b2438;
  font-weight: bold;
  margin-left: 250px;
}

p:last-child {
  margin-top: 20px;
}

.linkToAdd {
  font-size: 2rem;
  color: rgb(243, 186, 110);
  font-weight: bold;
  font-style: italic;
}
.linkToAdd:hover {
  color: black;
}

.message {
  margin-top: 20px;
  font-size: 2rem;
  color: #02091a;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.login {
  font-size: 2rem;
  color: #02091a;
  text-decoration: underline;
}
.login:hover {
  color: rgb(243, 186, 110);
}
