.gameDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1a1a2e, #16213e);
}

.backButton {
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #555;
}

.gameDetailsDetails {
  display: flex;
  flex-direction: row !important; /* Keep elements in a row */
  justify-content: center;
  align-items: flex-start; /* Align items to the top */
  gap: 20px;
  padding: 1rem;
  height: 70vh;
  max-width: 100%;
  flex-wrap: wrap;
}

.gameImageContainer {
  flex: 0 0 300px; /* Fixed size for the image */
  display: flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  height: 100%; /* Remove height restriction */
}

.gameImage {
  width: 100%; /* Makes image responsive */
  height: 100%; /* Maintain aspect ratio */
  object-fit: cover; /* Ensures the image covers the space proportionally */
  border-radius: 8px;
}

.gameInfo {
  flex: 1; /* Allow game info to grow and take up remaining space */
  max-width: 600px;
  min-width: 450px;
  height: 60%;
  background-color: #222;
  color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
}

.gameName {
  font-size: 3rem;
  margin-bottom: 10px;
  padding: 1rem;
}

.gameDescription {
  padding: 1rem;
  font-size: 1.3rem;
  margin-bottom: 15px;
  color: #ccc;
  flex-grow: 1; /* Makes the description take available space */
}

.gamePrice {
  font-size: 1.5rem;
  padding: 1rem !important;
  font-weight: bold;
  color: #f39c12;
}

.addToWishListButton {
  padding: 12px 20px;
  background-color: #444;
  color: #f4f4f4;
  font-size: 1.1rem;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100%;
  text-align: center;
}

.addToWishListButton:hover {
  background-color: #f39c12;
  border: 2px solid black;
  color: black;
}

.addToWishListButton.inWishlist {
  background-color: #27ae60;
  border-color: #27ae60;
  color: white;
}

.addToWishListButton.inWishlist:hover {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingText {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
