.gameDetailsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d; /* Dark gray background */
  min-height: 100vh;
}

.backButton {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #555;
  }
}

.gameDetails {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  align-items: stretch; /* Ensures equal height */
  gap: 20px;
  max-width: 1000px;
  flex-wrap: wrap;
}

.gameImageContainer {
  flex: 0 0 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.gameImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  max-height: 400px; /* Optional: restrict the max height */
}

.gameInfo {
  flex: 1;
  max-width: 500px;
  min-width: 250px;
  padding: 20px;
  background-color: #222;
  color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gameName {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.gameDescription {
  font-size: 1.1rem;
  margin-bottom: 15px;
  color: #ccc;
  flex-grow: 1; /* Makes the description take available space */
}

.gamePrice {
  font-size: 1.3rem;
  font-weight: bold;
  color: #f39c12;
  margin-bottom: 20px;
}

.addToWishListButton {
  padding: 12px 20px;
  background-color: #444;
  color: #f4f4f4;
  font-size: 1.1rem;
  border: 2px solid #f4f4f4;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: #f4f4f4;
    color: #444;
  }

  &.inWishlist {
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;

    &:hover {
      background-color: #2ecc71;
      border-color: #2ecc71;
    }
  }
}

.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loadingText {
  font-size: 1.5rem;
  color: #555;
  text-align: center;
}
