.productCard {
  display: flex;
  flex-direction: column;
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: relative;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
}

.link {
  text-decoration: none;
  margin: 0 !important;
}

.imageContainer {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 4:3 aspect ratio */
  background-color: #444;
  overflow: hidden;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.textContainer {
  padding: 20px;
  background-color: #222;
  color: #f0e4d7;
  text-align: center;
}

.name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.category {
  font-size: 1.1rem;
  margin: 5px 0;
  color: #aaa;
}

.price {
  margin: 10px 0;
  font-size: 1.2rem;
  color: #f1c40f;
}

.addToWishListButton {
  background-color: #444;
  border: 2px solid #f0e4d7;
  padding: 10px 20px;
  color: #f0e4d7;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  &:hover {
    background-color: #f0e4d7;
    color: #444;
  }
}

.inWishlist {
  background-color: #27ae60;
  border-color: #27ae60;
  color: white;
  &:hover {
    background-color: #2ecc71;
    border-color: #2ecc71;
  }
}
