.p-5 {
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.p-25 {
  padding: 25px;
}
.p-30 {
  padding: 30px;
}

.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-40 {
  margin-top: 40px;
}
.mt-50 {
  margin-top: 50px;
}
.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.fs-15 {
  font-size: 15px;
}
.fs-20 {
  font-size: 20px;
}
.fs-25 {
  font-size: 25px;
}
.fs-30 {
  font-size: 30px;
}
.fs-35 {
  font-size: 35px;
}
.fs-40 {
  font-size: 40px;
}

.border-radius-5 {
  border-radius: 5px;
}
.border-radius-10 {
  border-radius: 10px;
}
.border-radius-15 {
  border-radius: 15px;
}
.border-radius-20 {
  border-radius: 20px;
}

.tac {
  text-align: center;
}

.ms-10 {
  margin-left: 10px;
}
.ms-20 {
  margin-left: 20px;
}
.ms-30 {
  margin-left: 30px;
}
.ms-40 {
  margin-left: 40px;
}
.ms-50 {
  margin-left: 50px;
}
.me-10 {
  margin-right: 10px;
}
.me-20 {
  margin-right: 20px;
}
.me-30 {
  margin-right: 30px;
}
.me-40 {
  margin-right: 40px;
}
.me-50 {
  margin-right: 50px;
}

img:hover {
  transform: scale(1.05);
  transition: all 0.7s;
  cursor: pointer;
}

.color1 {
  color: var(--color-primary);
}
.color2 {
  color: var(--color-secondary);
}
.color3 {
  color: var(--color-tertiary);
}
