.landing-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 88vh;
  background-image: url("/public/images/bg.jpg");
  background-size: cover;
}

.content {
  text-align: end;
  margin-right: 150px;
  margin-bottom: 150px;
}

.content h1 {
  font-size: 4rem;
  color: white;
}

.content p {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: white;
}
