* {
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  padding: 0;
  background-color: #2d2d2d; /* Dark gray background */
}
.app {
  cursor: default;
}
.mainContent {
  padding-bottom: 80px; /* Add some space at the bottom for the footer */
}
