html {
  font-size: 15px !important;
}
* {
  margin: 0;
  padding: 0;
}
/* Targeting the scrollbar */
::-webkit-scrollbar {
  width: 12.5px; /* Width of the scrollbar */
}

/* Track (the area on which the thumb moves) */
::-webkit-scrollbar-track {
  background: rgb(195, 147, 84);
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #2a3449; /* Color of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #275479; /* Color of the thumb on hover */
}
body {
  background: linear-gradient(135deg, #22252a, #1c1f26);
}
