@use "./partials/_base";
@use "./partials/_debug";
@use "./partials/_flex";
@use "./partials/_utils";
@use "./partials/_variables";

body {
  font-family: var(--font-family);
  background: linear-gradient(
    180deg,
    rgb(144, 153, 174) 0%,
    rgb(128, 129, 130) 100%
  );
  color: var(--primary-color);
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.card {
  background-color: var(--tertiary-color);
  border-radius: 20px;
}
