.navbar {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  padding: 10px;
}

.logo {
  font-size: 4rem;
}

.choices {
  font-size: 2rem;
  margin-top: 1rem;
}

span {
  margin-right: 2rem;
}

.logout {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 20px;
}
